<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <connectionStrings>
<add name="AppDB" connectionString="Data Source=localhost;Initial Catalog=LMS;Integrated Security=SSPI;" />    
  </connectionStrings>
  <appSettings>
    <add key="InviteMailTemplate" value="C:\LMS\Admin\InviteMail.html" />
    <add key="InviteMailSubject" value="Invitation to join ADCETRIS training program." />
    <add key="CourseAssignTemplate" value="C:\LMS\Admin\CourseAssignMail.html" />
    <add key="CourseAssignSubject" value="ADCETRIS - Course Assignment" />
    <add key="SmtpUserName" value="info@adcetristrainingcampus.com" />
    <add key="SmtpPassword" value="Info@adcetris" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="LogFile" value="C:\Websites\sitelogs\LMSAdmin.log" />
  </appSettings>
  <system.web>
<identity impersonate="true" userName="MEDTRIX\LmsUser" password="lmsserver"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="LMS" tagName="CommonScripts" src="~/headers/CommonScripts.ascx" />
        <add tagPrefix="LMS" tagName="CommonStyles" src="~/headers/CommonStyles.ascx" />
        <add tagPrefix="LMS" tagName="Menu" src="~/headers/Menu.ascx" />
        <add tagPrefix="LMS" tagName="CommonHeader" src="~/headers/CommonHeader.ascx" />
      </controls>
    </pages>
  </system.web>
    <system.webServer>
        <httpRedirect enabled="false" />
    </system.webServer>
</configuration>