<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
	<add name="AppDB" connectionString="Data Source=52.20.96.124;Initial Catalog=LMS;user id=Medtrix;password=S3rv3r;" />
  </connectionStrings>
  <appSettings>
    <add key="SupportMailTemplate" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\User\SupportMail.html" />
	    <add key="emoduleSource" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\User\emodule" />
	  <add key="commonSource" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\User\common" />
    <add key="SupportMailSubject" value="ADCETRIS - Request received" />
    <add key="SupportMailTemplateAdmin" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\User\SupportMailAdmin.html" />
    <add key="SupportMailSubjectAdmin" value="New inquiry" />
    <add key="ResetPwdTemplate" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\User\ResetPassword.html" />
    <add key="ResetPwdSubject" value="Password Request" />
    <add key="SmtpUserNameForSupport" value="techsupport@adcetristrainingcampus.com" />
    <add key="SmtpPasswordForSupport" value="Techsupport@adcetris" />
    <add key="SmtpUserName" value="info@adcetristrainingcampus.com" />
    <add key="SmtpPassword" value="@dcetr!s2014" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="LogFile" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\LMSEndUser.log" />
	  <add key="LogJs" value="C:\Live\Websites\ADC_Adcetristrainingcampus_2014\logs\LMSEndUser.log" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="LMS" tagName="CommonScripts" src="~/headers/CommonScripts.ascx" />
        <add tagPrefix="LMS" tagName="CommonStyles" src="~/headers/CommonStyles.ascx" />
        <add tagPrefix="LMS" tagName="Menu" src="~/headers/Menu.ascx" />
        <add tagPrefix="LMS" tagName="Footer" src="~/headers/Footer.ascx" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>  
      <httpProtocol>
          <customHeaders>
              <add name="access-control-allow-headers" value="content-type" />
              <add name="Access-Control-Allow-Origin" value="*" />
          </customHeaders>
      </httpProtocol>
<staticContent>
	<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:03:00" />
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".plist" mimeType="text/xml" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
        <urlCompression doDynamicCompression="false" />
   </system.webServer>
</configuration>